<form action="/add" method="post">
    <h1>Add a track</h1>
<input name="track" placeholder="Track">
<input name="album" placeholder="Album">
<input name="artist" placeholder="Artist">
<input name="length" placeholder="length (Seconds)">
<input type="submit" value="Add">
</form>