<form action="/add" method="post">
    <h1>Add a phone</h1>
<input name="track" placeholder="model">
<input name="artist" placeholder="make">
<input name="length" placeholder="price (€)">
<input name="cover" placeholder="Image">
<input type="submit" value="Add">
</form>