<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- Shows a form for users to create a new device--> 
<div class="track-container">
    <div class="edit-track">        
        <form id="addForm" action="/add" method="post">
            <h1>Add a phone</h1>
            <input name="track" placeholder="model"> <br>
            <input name="artist" placeholder="make"> <br>
            <input id="lengthInput" name="length" placeholder="price (€)"> <br>
            <input name="cover" placeholder="Image"> <br>
            <input type="submit" value="Add"> <br>
        </form>
    </div>
</div>
<!-- ensures that the price entry does not contain text-->
<script>
document.getElementById("addForm").addEventListener("submit", function(event) {
    var lengthInput = document.getElementById("lengthInput").value;
    if (!isNumeric(lengthInput)) {
        alert("Please enter a valid number for the price.");
        event.preventDefault();
    }
});

function isNumeric(value) {
    return !isNaN(parseFloat(value)) && isFinite(value);
}
</script>
</body>
</html>
